.aider*
backend/static/
frontend/src/assets/
utils/
utils 
.idea/
backend/videos.db
lolnights.code-workspace
.vscode
.vscode/
backend/.env.dev
backend/.env.prod
backend/start_api.ps1
backend/api/__pycache__
backend/.env.production
backend/venv/*
backend/venv
backend/api/static/logs
backend/__pycache__
frontend/node_modules/
frontend/.vscode
frontend/.angular
frontend/node_modules
backend/auth/__pycache__
frontend/src/environments/environment.prod.ts
