<header>
    <h1>LOLNIGHTS</h1>
    <nav *ngIf="isLoggedIn">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/stats" routerLinkActive="active">Stats</a>
      <a routerLink="/admin" routerLinkActive="active">Admin</a>
      <div class="user-info">
        <span class="welcome-message">Welcome, {{ username }}</span>
        <button class="logout-button" (click)="logout()">Logout</button>
      </div>
    </nav>
  </header>
  
