<div class="stats-page">
  <div class="achievement-showcase-container">
    <app-achievement-showcase></app-achievement-showcase>
  </div>
  <div class="graphs-container">
    <div class="graph-row">
      <div class="graph">
        <app-video-frequencies-graph></app-video-frequencies-graph>
      </div>
      <div class="graph">
        <app-video-length-chart></app-video-length-chart>
      </div>
      <div class="graph">
        <app-video-day-distribution-chart></app-video-day-distribution-chart>
      </div>
      <div class="graph">
        <app-top-ten-duration-chart></app-top-ten-duration-chart>
      </div>
      <div class="graph">
        <app-video-start-time-distribution-chart></app-video-start-time-distribution-chart>
      </div>
    </div>
  </div>
</div>
