.search-bar {
  display: flex;
  margin-bottom: 16px;
  margin: 8px;
}

.search-bar input[type="text"] {
  flex: 3;
  padding: 8px;
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #555;
}

.search-bar input[ngxDaterangepickerMd] {
  flex: 1;
  padding: 8px;
  max-width: 600px; /* Optional: Set a maximum width */
  margin-left: 32px;
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #555;
}
