/* video-details.component.css */
.video-detail {
  padding: 16px;
  background-color: #121212;
  color: #e0e0e0;
}

.breadcrumb {
  margin-bottom: 16px;
}

.breadcrumb a {
  text-decoration: none;
  color: #bb86fc;
}

.breadcrumb span {
  color: #b0b0b0;
}

.video-container {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.video {
  flex: 2;
  width: 100%;
  height: 600px; /* Adjust the height as needed */
}

.attributes {
  flex: 1;
  align-self: flex-start;
}

.attributes h3 {
  margin-bottom: 8px;
}

.attribute-icon {
  width: 24px;
  height: 24px;
}

.attributes button {
  margin-right: 8px; /* Add spacing between buttons */
}

.attributes-section {
  display: flex;
  flex-direction: column;
}

.attributes-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  border: none; /* Remove the border */
  gap: 8px;
}

.accordion {
  margin-top: 16px;
}

.accordion-item {
  margin-bottom: 8px;
}

.accordion-item h3 {
  cursor: pointer;
  background-color: #333;
  padding: 8px;
  margin: 0;
  border: 1px solid #444;
}

.accordion-item div {
  padding: 8px;
  border: 1px solid #444;
  border-top: none;
}

.user-attributes:nth-child(even) {
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px; /* Add space between sections */
}

.user-attributes:nth-child(odd) {
  background-color: #2e2e2e;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px; /* Add space between sections */
}
